* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f6fb;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

button {
  display: block;
  border: none;
  outline: none;
  border-radius: 36px;
  background: #4487ff;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
  font-family: "Poppins", sans-serif;
}

input {
  display: block;
  position: relative;
  padding: 0 30px;
  border: none;
  outline: none;
  width: 244px;
  height: 67px;
  border-radius: 70px;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
}

main {
  width: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: url("../assets/Group 108.svg");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: -300px -150px;
  position: relative;
}

@media (min-width: 375px) {
  .header {
    background-size: 1500px;
    background-position: -300px -195px;
  }
}

@media (min-width: 375px) and (min-width: 768px) {
  .header {
    background-size: 2000px;
    background-position: -300px -150px;
  }
}

@media (min-width: 375px) and (min-width: 768px) and (min-width: 1024px) {
  .header {
    background-size: 2300px;
  }
}

@media (min-width: 375px) and (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .header {
    background-size: 1900px;
    background-position: -300px -420px;
  }
}

@media (min-width: 375px) and (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) and (min-width: 1460px) {
  .header {
    background-size: 2100px;
    background-position: -300px -385px;
  }
}

.header .title-wrapper {
  width: 100%;
  height: 100vh;
  padding: 0 40px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .title-wrapper .title {
  padding: 11px 0;
  text-transform: capitalize;
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff;
}

@media (min-width: 768px) {
  .header .title-wrapper .title {
    margin-top: 60px;
    padding-left: 60px;
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .header .title-wrapper .title {
    font-size: 3.2rem;
    margin-top: 120px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .header .title-wrapper .title {
    margin-top: 75px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) and (min-width: 1360px) {
  .header .title-wrapper .title {
    margin-top: 180px;
    font-size: 3.5rem;
  }
}

.header .title-wrapper .title-description {
  padding: 0 0 11px;
  font-size: 0.85rem;
  font-weight: 300;
  color: #fff;
}

@media (min-width: 768px) {
  .header .title-wrapper .title-description {
    font-size: 1rem;
    padding-left: 60px;
    padding-right: 170px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .header .title-wrapper .title-description {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .header .title-wrapper .title-description {
    font-size: 1rem;
    width: 700px;
  }
}

.header .title-wrapper .service-btn {
  margin-top: 15px;
  width: 192px;
  height: 60px;
}

@media (min-width: 768px) {
  .header .title-wrapper .service-btn {
    width: 220px;
    height: 70px;
    font-size: 1rem;
    margin-left: 60px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .header .title-wrapper .service-btn {
    margin-top: 30px;
    height: 90px;
    width: 280px;
    border-radius: 90px;
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .header .title-wrapper .service-btn {
    width: 160px;
    height: 50px;
    margin-top: 20px;
    font-size: 0.8rem;
  }
}

.header .title-wrapper .title-img {
  height: 336px;
  position: absolute;
  bottom: -60%;
  right: -30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

@media (min-width: 375px) {
  .header .title-wrapper .title-img {
    bottom: -40%;
  }
}

@media (min-width: 375px) and (min-width: 540px) {
  .header .title-wrapper .title-img {
    right: -25%;
  }
}

@media (min-width: 375px) and (min-width: 540px) and (min-width: 414px) {
  .header .title-wrapper .title-img {
    bottom: -30%;
  }
}

@media (min-width: 375px) and (min-width: 540px) and (min-width: 414px) and (min-width: 768px) {
  .header .title-wrapper .title-img {
    bottom: -20%;
    right: -20%;
    height: 500px;
  }
}

@media (min-width: 375px) and (min-width: 540px) and (min-width: 414px) and (min-width: 768px) and (min-width: 1024px) {
  .header .title-wrapper .title-img {
    height: 800px;
    bottom: -25%;
    right: -25%;
  }
}

@media (min-width: 375px) and (min-width: 540px) and (min-width: 414px) and (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .header .title-wrapper .title-img {
    height: 525px;
    right: -5%;
    bottom: -30%;
  }
}

@media (min-width: 375px) and (min-width: 540px) and (min-width: 414px) and (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) and (min-width: 1560px) {
  .header .title-wrapper .title-img {
    height: 650px;
  }
}

.nav {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

@media (min-width: 1100px) {
  .nav {
    display: none;
  }
}

.nav .logo {
  width: 40px;
  height: 40px;
}

.nav .hamburger-menu {
  width: 20px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  z-index: 1001;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .nav .hamburger-menu {
    display: none;
  }
}

.nav .hamburger-menu .line {
  width: 100%;
  height: 2px;
  background-color: #ddd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 1024px) {
  .nav .hamburger-menu .line {
    background-color: #333;
  }
}

.nav .hamburger-menu .line-1.change {
  -webkit-transform: rotateZ(-405deg) translate(-4px, 6px);
          transform: rotateZ(-405deg) translate(-4px, 6px);
}

.nav .hamburger-menu .line-2.change {
  opacity: 0;
}

.nav .hamburger-menu .line-3.change {
  -webkit-transform: rotateZ(405deg) translate(-4px, -6px);
          transform: rotateZ(405deg) translate(-4px, -6px);
}

.nav .nav-list {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #4a66b1, #5d90ff);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 999;
}

@media (min-width: 1100px) {
  .nav .nav-list {
    display: none;
  }
}

.nav .nav-list.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.nav .nav-list .nav-li {
  padding: 15px;
}

.nav .nav-list .nav-li .nav-link {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

.nav-desktop {
  display: none;
}

@media (min-width: 1100px) {
  .nav-desktop {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    z-index: 999;
  }
  .nav-desktop .nav-list {
    width: 38%;
    height: 65px;
    margin-right: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-desktop .logo {
    margin-left: 80px;
  }
  .nav-desktop .nav-link-d {
    font-weight: 300;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav-desktop .nav-link-d:hover {
    color: yellow;
  }
}

.services {
  width: 100%;
  min-height: 130vh;
  margin-top: 240px;
  position: relative;
}

@media (min-width: 375px) {
  .services {
    margin: 200px 0 0;
  }
}

@media (min-width: 375px) and (min-width: 414px) {
  .services {
    margin: 160px 0 0;
  }
}

@media (min-width: 375px) and (min-width: 414px) and (min-width: 768px) {
  .services {
    margin: 80px 0 0;
  }
}

@media (min-width: 375px) and (min-width: 414px) and (min-width: 768px) and (min-width: 1100px) {
  .services {
    min-height: 260vh;
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -600px 0;
  }
}

@media (min-width: 375px) and (min-width: 414px) and (min-width: 768px) and (min-width: 1100px) and (min-width: 1460px) {
  .services {
    margin: -900px 0;
  }
}

.services .fetch-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .services .fetch-section {
    margin-left: 80px;
  }
}

@media (min-width: 768px) and (min-width: 1100px) {
  .services .fetch-section {
    margin-left: 150px;
    width: 550px;
    margin-right: -150px;
  }
}

.services .fetch-section .fetch-main-title {
  padding: 0 120px 0 24px;
  font-size: 2rem;
  text-transform: capitalize;
  color: #ff6752;
}

@media (min-width: 768px) {
  .services .fetch-section .fetch-main-title {
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .services .fetch-section .fetch-main-title {
    font-size: 3.2rem;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .services .fetch-section .fetch-main-title {
    font-size: 2rem;
  }
}

.services .fetch-section .fetch-desc {
  margin-top: 5px;
  padding: 0 106px 0 24px;
  font-size: 14px;
  font-weight: 300;
  color: #808080;
}

@media (min-width: 768px) {
  .services .fetch-section .fetch-desc {
    padding-right: 350px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .services .fetch-section .fetch-desc {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .services .fetch-section .fetch-desc {
    margin-top: 20px;
    font-size: 1rem;
    width: 650px;
  }
}

.services .fetch-section .fetch-title {
  margin-top: 29px;
  padding: 0 88px 0 24px;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #ff6752;
}

@media (min-width: 1024px) {
  .services .fetch-section .fetch-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) and (min-width: 1100px) {
  .services .fetch-section .fetch-title {
    font-size: 1.2rem;
  }
}

.services .fetch-section .fetch-input-wrapper {
  width: 250px;
  margin: 20px 0 0 16px;
  position: relative;
}

.services .fetch-section .fetch-input-wrapper .fetch-input {
  background-color: #fff;
  width: 100%;
}

@media (min-width: 1100px) {
  .services .fetch-section .fetch-input-wrapper .fetch-input {
    height: 60px;
  }
}

.services .fetch-section .fetch-input-wrapper .fetch-input::-webkit-input-placeholder {
  color: #a6a6a6;
  font-size: 1rem;
}

.services .fetch-section .fetch-input-wrapper .fetch-input:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 1rem;
}

.services .fetch-section .fetch-input-wrapper .fetch-input::-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 1rem;
}

.services .fetch-section .fetch-input-wrapper .fetch-input::placeholder {
  color: #a6a6a6;
  font-size: 1rem;
}

.services .fetch-section .fetch-input-wrapper .fetch-submit-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 5px;
  border-radius: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ff6752;
}

.services .fetch-section .fetch-input-wrapper .fetch-submit-btn i {
  font-size: 2rem;
}

.services .services-flex {
  margin-top: 50px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 0;
}

@media (min-width: 1100px) {
  .services .services-flex {
    width: 40%;
    padding-top: 50px;
    margin-top: 150px;
  }
}

.services .services-flex .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  width: 145px;
  height: 145px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
}

@media (min-width: 768px) {
  .services .services-flex .service-item {
    width: 28%;
    margin: 15px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .services .services-flex .service-item {
    height: 180px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .services .services-flex .service-item {
    width: 170px;
    height: 170px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) and (min-width: 1100px) {
  .services .services-flex .service-item {
    width: 210px;
    height: 210px;
  }
}

.services .services-flex .service-item img {
  width: 45px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.services .services-flex .service-item img:hover {
  cursor: pointer;
  filter: hue-rotate(80deg);
  -webkit-filter: hue-rotate(80deg);
}

@media (min-width: 1024px) {
  .services .services-flex .service-item img {
    width: 45px;
  }
}

.services .services-flex .service-item .service-name {
  margin-top: 13px;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  color: #808080;
}

@media (min-width: 1024px) {
  .services .services-flex .service-item .service-name {
    font-size: 1rem;
  }
}

.services .service-wave {
  width: 1200px;
  top: 17%;
  left: -170%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 375px) {
  .services .service-wave {
    width: 1300px;
  }
}

@media (min-width: 375px) and (min-width: 414px) {
  .services .service-wave {
    width: 1400px;
  }
}

@media (min-width: 375px) and (min-width: 414px) and (min-width: 768px) {
  .services .service-wave {
    width: 1900px;
    left: -100%;
    top: -5%;
  }
}

@media (min-width: 375px) and (min-width: 414px) and (min-width: 768px) and (min-width: 1024px) {
  .services .service-wave {
    width: 2500px;
    top: -10%;
  }
}

@media (min-width: 375px) and (min-width: 414px) and (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .services .service-wave {
    width: 2200px;
    left: -28%;
    top: 20%;
  }
}

@media (min-width: 375px) and (min-width: 414px) and (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) and (min-width: 1460px) {
  .services .service-wave {
    width: 2900px;
    top: 22%;
    left: -25%;
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

.reviews {
  width: 100%;
}

@media (min-width: 768px) {
  .reviews {
    margin-top: -300px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .reviews {
    margin-top: -450px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .reviews {
    margin-top: 350px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) and (min-width: 1368px) {
  .reviews {
    margin-top: 600px;
  }
}

.reviews .reviews-title {
  padding: 0 15px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #ff6752;
}

@media (min-width: 1024px) {
  .reviews .reviews-title {
    padding: 0 25%;
  }
}

@media (min-width: 1024px) and (min-width: 1100px) {
  .reviews .reviews-title {
    padding: 0 33%;
  }
}

.reviews .reviews-container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .reviews-container .review {
  height: 400px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 40px 20px;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
  border-radius: 20px;
  background: linear-gradient(45deg, #5353b6, #6060f8);
  background-size: 130%;
  background-position: bottom;
  position: relative;
}

@media (min-width: 1100px) {
  .reviews .reviews-container .review {
    width: 430px;
    height: 250px;
  }
}

.reviews .reviews-container .review:nth-child(2) {
  left: 100%;
}

.reviews .reviews-container .review:nth-child(3) {
  left: 200%;
}

.reviews .reviews-container .review:nth-child(4) {
  left: 300%;
}

.reviews .reviews-container .review .review-img {
  width: 90px;
  border-radius: 50%;
}

.reviews .reviews-container .review .review-name {
  margin: 20px 0;
  text-transform: capitalize;
  color: #fff;
}

@media (min-width: 1100px) {
  .reviews .reviews-container .review .review-name {
    margin: 10px 0 15px;
  }
}

.reviews .reviews-container .review .review-desc {
  padding: 0 10px;
  text-align: center;
  font-weight: 300;
  color: #e6e6e6;
}

@media (min-width: 1100px) {
  .reviews .reviews-container .review .review-desc {
    font-size: 0.7rem;
  }
}

.reviews .nav-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .nav-buttons .slider-btn {
  padding: 10px 20px;
  margin: 0 20px;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
}

.explanation {
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  padding-top: 150px;
  position: relative;
}

.explanation::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 60%;
  background-color: #f0e000;
  width: 900px;
  height: 1000px;
  border-radius: 50%;
  z-index: -1;
}

@media (min-width: 1024px) {
  .explanation::before {
    top: 10%;
  }
}

@media (min-width: 1024px) and (min-width: 1100px) {
  .explanation::before {
    top: 0%;
    left: 70%;
    background-color: #f0e000;
    width: 750px;
    height: 750px;
  }
}

@media (min-width: 1024px) and (min-width: 1100px) and (min-width: 1024px) {
  .explanation::before {
    width: 1000px;
    height: 1000px;
    top: -15%;
    left: 80%;
  }
}

@media (min-width: 375px) {
  .explanation {
    margin-top: 70px;
  }
}

@media (min-width: 375px) and (min-width: 1100px) {
  .explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 375px) and (min-width: 1100px) and (min-width: 1100px) {
  .explanation {
    margin-top: 0px;
  }
}

.explanation .fetch-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .explanation .fetch-section {
    padding: 20px 0 50px 0;
    margin-left: 80px;
  }
}

@media (min-width: 768px) and (min-width: 1100px) {
  .explanation .fetch-section {
    width: 40%;
    margin-left: -70px;
  }
}

.explanation .fetch-section .fetch-main-title {
  padding: 0 120px 0 24px;
  font-size: 2rem;
  text-transform: capitalize;
  color: #ff6752;
}

@media (min-width: 768px) {
  .explanation .fetch-section .fetch-main-title {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .explanation .fetch-section .fetch-main-title {
    font-size: 3.2rem;
    padding-left: 60px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .explanation .fetch-section .fetch-main-title {
    font-size: 2rem;
  }
}

.explanation .fetch-section .fetch-desc {
  margin-top: 5px;
  padding: 0 106px 0 24px;
  font-size: 14px;
  font-weight: 300;
  color: #808080;
}

@media (min-width: 768px) {
  .explanation .fetch-section .fetch-desc {
    font-size: 1rem;
    padding-right: 350px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .explanation .fetch-section .fetch-desc {
    padding-left: 60px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .explanation .fetch-section .fetch-desc {
    font-size: 0.8rem;
    padding-right: 165px;
  }
}

.explanation .fetch-section .fetch-title {
  margin-top: 29px;
  padding: 0 88px 0 24px;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #ff6752;
}

@media (min-width: 1024px) {
  .explanation .fetch-section .fetch-title {
    padding-left: 60px;
  }
}

.explanation .fetch-section .fetch-input-wrapper {
  width: 250px;
  margin: 20px 0 0 16px;
  position: relative;
}

@media (min-width: 1024px) {
  .explanation .fetch-section .fetch-input-wrapper {
    margin-left: 60px;
    width: 350px;
  }
}

.explanation .fetch-section .fetch-input-wrapper .fetch-input {
  background-color: #fff;
  width: 100%;
}

.explanation .fetch-section .fetch-input-wrapper .fetch-input::-webkit-input-placeholder {
  color: #a6a6a6;
  font-size: 1rem;
}

.explanation .fetch-section .fetch-input-wrapper .fetch-input:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 1rem;
}

.explanation .fetch-section .fetch-input-wrapper .fetch-input::-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 1rem;
}

.explanation .fetch-section .fetch-input-wrapper .fetch-input::placeholder {
  color: #a6a6a6;
  font-size: 1rem;
}

.explanation .fetch-section .fetch-input-wrapper .fetch-submit-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 5px;
  border-radius: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ff6752;
}

.explanation .fetch-section .fetch-input-wrapper .fetch-submit-btn i {
  font-size: 2rem;
}

.explanation .explanation-flex {
  width: 100%;
  padding: 35px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (min-width: 375px) {
  .explanation .explanation-flex {
    padding-top: 60px;
  }
}

@media (min-width: 375px) and (min-width: 768px) {
  .explanation .explanation-flex {
    padding: 0;
  }
}

@media (min-width: 375px) and (min-width: 768px) and (min-width: 1100px) {
  .explanation .explanation-flex {
    width: 50%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 375px) and (min-width: 768px) and (min-width: 1100px) and (min-width: 1368px) {
  .explanation .explanation-flex {
    width: 40%;
  }
}

.explanation .explanation-flex::before {
  content: "";
  width: 330px;
  height: 280px;
  top: 20%;
  left: -10%;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 10px solid #ff6752;
  border-left: 0;
}

@media (min-width: 768px) {
  .explanation .explanation-flex::before {
    width: 680px;
    height: 350px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .explanation .explanation-flex::before {
    width: 880px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .explanation .explanation-flex::before {
    width: 280px;
    height: 250px;
    left: 25%;
    border-width: 5px;
    border-bottom: 3px;
  }
}

.explanation .explanation-flex .explanation-item {
  width: 118px;
  height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
  color: #808080;
}

@media (min-width: 768px) {
  .explanation .explanation-flex .explanation-item {
    margin: 0 100px;
    padding: 85px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .explanation .explanation-flex .explanation-item {
    margin: 0 180px;
    padding: 100px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .explanation .explanation-flex .explanation-item {
    padding: 70px;
    margin: 0 150px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) and (min-width: 1368px) {
  .explanation .explanation-flex .explanation-item {
    padding: 80px;
  }
}

.explanation .explanation-flex .explanation-item:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.explanation .explanation-flex .explanation-item .explanation-img {
  width: 37px;
  height: 37px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.explanation .explanation-flex .explanation-item .explanation-img:hover {
  cursor: pointer;
  filter: hue-rotate(80deg);
  -webkit-filter: hue-rotate(80deg);
}

@media (min-width: 768px) {
  .explanation .explanation-flex .explanation-item .explanation-img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .explanation .explanation-flex .explanation-item .explanation-img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) and (min-width: 1100px) {
  .explanation .explanation-flex .explanation-item .explanation-img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
  }
}

.explanation .join {
  width: 80%;
  margin: 80px auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  background: linear-gradient(45deg, #2c6fff, #375cc4);
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
  position: relative;
}

.explanation .join::before {
  display: none;
}

@media (min-width: 1100px) {
  .explanation .join::before {
    display: block;
    content: "";
    position: absolute;
    top: -50%;
    left: -30%;
    background-color: #f0e000;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
  }
}

@media (min-width: 1100px) {
  .explanation .join {
    height: 380px;
    margin-top: 180px;
    padding-left: 50px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.explanation .join .join-img {
  height: 243px;
}

@media (min-width: 1024px) {
  .explanation .join .join-img {
    height: 350px;
  }
}

.explanation .join .join-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 1100px) {
  .explanation .join .join-items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 250px;
    width: 60%;
    margin-left: 30px;
  }
}

.explanation .join .join-items .join-title {
  margin: 30px auto 15px;
  font-size: 1.8rem;
  color: #ffe530;
}

@media (min-width: 1024px) {
  .explanation .join .join-items .join-title {
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) and (min-width: 1100px) {
  .explanation .join .join-items .join-title {
    font-size: 1.8rem;
    margin: 0;
  }
}

.explanation .join .join-items .join-desc {
  padding-right: 25px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

@media (min-width: 1024px) {
  .explanation .join .join-items .join-desc {
    padding: 0 15%;
    text-align: center;
  }
}

@media (min-width: 1024px) and (min-width: 1100px) {
  .explanation .join .join-items .join-desc {
    text-align: start;
    padding: 0;
  }
}

.explanation .join .join-items .join-btn {
  height: 55px;
  width: 140px;
  margin: 40px 0 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #ff6752;
  font-size: 1rem;
  font-weight: 700;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
}

@media (min-width: 768px) {
  .explanation .join .join-items .join-btn {
    margin: 50px auto 10px;
  }
}

@media (min-width: 768px) and (min-width: 1100px) {
  .explanation .join .join-items .join-btn {
    margin: 0;
  }
}

.explanation .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .explanation .brands {
    margin-bottom: 35px;
  }
}

.explanation .brands .brands-title {
  font-size: 1rem;
  color: #b1bbcd;
}

.explanation .brands .brands-wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .explanation .brands .brands-wrapper {
    margin: 20px 0;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .explanation .brands .brands-wrapper {
    margin: 40px 0;
  }
}

.explanation .brands .brands-wrapper .brand-img {
  margin: 20px;
  width: 51px;
  height: 51px;
}

@media (min-width: 414px) {
  .explanation .brands .brands-wrapper .brand-img {
    margin: 30px;
  }
}

@media (min-width: 414px) and (min-width: 1368px) {
  .explanation .brands .brands-wrapper .brand-img {
    margin: 20px 100px;
  }
}

.explanation .brands .brands-wrapper .brand-img:nth-child(2) {
  width: 100px;
  height: 50px;
}

.explanation .brands .brands-wrapper .brand-img:nth-child(3) {
  width: 125px;
  height: 50px;
}

.explanation .brands .brands-wrapper .brand-img:nth-child(4) {
  width: 50px;
  height: 50px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  margin-top: 50px;
  background-color: #ff6752;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #ff6752;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 768px) {
  .footer::before {
    height: 100px;
  }
}

@media (min-width: 414px) {
  .footer {
    padding-top: 50px;
    margin-top: 80px;
  }
}

@media (min-width: 414px) and (min-width: 768px) {
  .footer {
    background-size: 200%;
    margin-top: 100px;
  }
}

@media (min-width: 414px) and (min-width: 768px) and (min-width: 1024px) {
  .footer {
    background-size: 1900px;
    background-position: 50% 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer .footer-section {
  padding: 10px;
  margin: 0 15px;
}

@media (min-width: 768px) {
  .footer .footer-section {
    margin: 0 10%;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .footer .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 30px;
    margin: 0;
  }
}

.footer .footer-section:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 350px;
}

.footer .footer-section .footer-title {
  color: #ffe530;
  margin-bottom: 15px;
}

@media (min-width: 414px) {
  .footer .footer-section .footer-title:nth-child(1) {
    padding-top: -10px;
  }
}

.footer .footer-section .footer-link {
  font-size: 14px;
  line-height: 1.5rem;
  color: #fff;
}

.footer .footer-section .footer-flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-section .footer-flex-list .footer-list {
  width: 45%;
}

.footer .footer-section .footer-input-wrapper {
  width: 100%;
  height: 67px;
  position: relative;
}

@media (min-width: 768px) {
  .footer .footer-section .footer-input-wrapper {
    margin: 40px 0 10px;
  }
}

.footer .footer-section .footer-input-wrapper .footer-input {
  margin-top: 15px;
  width: 100%;
}

.footer .footer-section .footer-input-wrapper .footer-input::-webkit-input-placeholder {
  -webkit-columns: #aaa;
          columns: #aaa;
}

.footer .footer-section .footer-input-wrapper .footer-input:-ms-input-placeholder {
  columns: #aaa;
}

.footer .footer-section .footer-input-wrapper .footer-input::-ms-input-placeholder {
  columns: #aaa;
}

.footer .footer-section .footer-input-wrapper .footer-input::placeholder {
  -webkit-columns: #aaa;
          columns: #aaa;
}

.footer .footer-section .footer-input-wrapper .footer-submit-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff6752;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
  font-size: 2rem;
}

.footer .footer-media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-media .footer-media-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #bbb;
  -webkit-box-shadow: 0 3px 6px #2c1dad29;
          box-shadow: 0 3px 6px #2c1dad29;
}
/*# sourceMappingURL=main.css.map */