.explanation {
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
  @media (min-width: 375px) {
    margin-top: 70px;
  }
  .fetch-section {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      padding: 20px 0 50px 0;
      margin-left: 80px;
    }

    .fetch-main-title {
      padding: 0 120px 0 24px;
      font-size: 2rem;
      text-transform: capitalize;
      color: $orange-font-color;
      @media (min-width: 768px) {
        font-size: 2.2rem;
        @media (min-width: 1024px) {
          font-size: 3.2rem;
          padding-left: 60px;
        }
      }
    }
    .fetch-desc {
      margin-top: 5px;
      padding: 0 106px 0 24px;
      font-size: 14px;
      font-weight: 300;
      color: $dark-font-color;
      @media (min-width: 768px) {
        font-size: 1rem;
        padding-right: 350px;
        @media (min-width: 1024px) {
          padding-left: 60px;
        }
      }
    }
    .fetch-title {
      margin-top: 29px;
      padding: 0 88px 0 24px;
      line-height: 1.5rem;
      font-size: 1rem;
      font-weight: 700;
      color: $orange-font-color;
      @media (min-width: 1024px) {
        padding-left: 60px;
      }
    }
    .fetch-input-wrapper {
      width: 250px;
      margin: 20px 0 0 16px;
      position: relative;
      @media (min-width: 1024px) {
        margin-left: 60px;
        width: 350px;
      }

      .fetch-input {
        background-color: #fff;
        width: 100%;

        &::placeholder {
          color: lighten($dark-font-color, 15%);
          font-size: 1rem;
        }
      }
      .fetch-submit-btn {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        right: 5px;
        border-radius: 70%;
        transform: translateY(-50%);
        background: $orange-font-color;
        & i {
          font-size: 2rem;
        }
      }
    }
  }
  .explanation-flex {
    width: 100%;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: 375px) {
      padding-top: 60px;
      @media (min-width: 768px) {
        padding: 0;
      }
    }
    &::before {
      content: "";
      width: 330px;
      height: 280px;
      top: 20%;
      left: -10%;
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      border: 10px solid $orange-font-color;
      border-left: 0;
      @media (min-width: 768px) {
        width: 680px;
        height: 350px;
        @media (min-width: 1024px) {
          width: 880px;
        }
      }
    }

    .explanation-item {
      width: 118px;
      height: 118px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: $box-shadow;
      @media (min-width: 768px) {
        margin: 0 100px;
        padding: 85px;
        @media (min-width: 1024px) {
          margin: 0 180px;
          padding: 100px;
        }
      }
      &:nth-child(2) {
        align-self: flex-end;
      }
      .explanation-img {
        width: 37px;
        height: 37px;
        @media (min-width: 768px) {
          width: 60px;
          height: 60px;
          @media (min-width: 1024px) {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
  .join {
    width: 80%;
    margin: 80px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background: linear-gradient(45deg, rgb(74, 102, 177), rgb(93, 144, 255));
    border-radius: 20px;
    box-shadow: $box-shadow;
    .join-img {
      height: 243px;
      @media (min-width: 1024px) {
        height: 350px;
      }
    }
    .join-title {
      margin: 30px 0 15px;
      font-size: 1.7rem;
      color: #ffe530;
      @media (min-width: 1024px) {
        font-size: 2.2rem;
      }
    }
    .join-desc {
      padding-right: 25px;
      font-size: 14px;
      font-weight: 300;
      color: $light-font-color;
      @media (min-width: 1024px) {
        padding: 0 15%;
        text-align: center;
      }
    }
    .join-btn {
      height: 55px;
      width: 140px;
      margin: 40px 0 20px;
      align-self: flex-start;
      color: $orange-font-color;
      font-size: 1rem;
      font-weight: 700;
      background: #fff;
      box-shadow: $box-shadow;
      @media (min-width: 768px) {
        margin: 50px auto 10px;
      }
    }
  }
  .brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 375px) {
      margin-bottom: 35px;
    }
    .brands-title {
      font-size: 1rem;
      color: #b1bbcd;
    }
    .brands-wrapper {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @media (min-width: 768px) {
        margin: 20px 0;
        @media (min-width: 1024px) {
          margin: 40px 0;
        }
      }
      .brand-img {
        margin: 20px;
        width: 51px;
        height: 51px;
        @media (min-width: 414px) {
          margin: 30px;
        }
        &:nth-child(2) {
          width: 100px;
          height: 50px;
        }
        &:nth-child(3) {
          width: 125px;
          height: 50px;
        }
        &:nth-child(4) {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
