.nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  transition: 0.3s ease-in-out;
  z-index: 1000;
  .logo {
    width: 40px;
    height: 40px;
  }
  .hamburger-menu {
    width: 20px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    cursor: pointer;
    .line {
      width: 100%;
      height: 2px;
      background-color: #ddd;
      transition: cubic-bezier(1, 0, 0, 1);
    }
    // .line-1{
    //   transform: rotateZ(-45deg) translate(-4px, 6px);
    // }
    // .line-2 {
    //   opacity: 0;
    // }
    // .line-3{
    //   transform: rotateZ(45deg) translate(-4px, -6px);
    // }
  }
  .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    border-bottom-right-radius: 50px;
    background: linear-gradient(45deg, rgb(74, 102, 177), rgb(93, 144, 255));

    opacity: 0;
    transform: translate(-100%, -100%);
    transition: 0.3s;
    z-index: 999;
    &.show {
      transform: translate(0, 0);
      opacity: 1;
    }
    .nav-li {
      padding: 15px;
      .nav-link {
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: #333;
        text-transform: uppercase;
      }
    }
  }
}
