.nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  transition: 0.3s ease-in-out;
  z-index: 1000;
  .logo {
    width: 40px;
    height: 40px;
  }
  .hamburger-menu {
    width: 20px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    // background-color: #333;
    z-index: 1001;
    cursor: pointer;
    .line {
      width: 100%;
      height: 2px;
      background-color: #ddd;
      transition: all 0.3s;

      @media (min-width: 1024px) {
        background-color: #333;
      }
    }
    .line-1.change {
      transform: rotateZ(-405deg) translate(-4px, 6px);
    }
    .line-2.change {
      opacity: 0;
    }
    .line-3.change {
      transform: rotateZ(405deg) translate(-4px, -6px);
    }
  }
  .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgb(74, 102, 177), rgb(93, 144, 255));
    opacity: 1;
    transition: 0.3s;
    transform: translateX(-100%);
    z-index: 999;
    &.show {
      transform: translateX(0);
      opacity: 1;
    }
    .nav-li {
      padding: 15px;
      .nav-link {
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
