* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
img {
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
